.feedback {
color: #fff;
background-color: #0089cd;
font-size: 30px;
line-height: 1.4;
padding: 60px 0;
@media(max-width: 1199px){
    padding-top: calc(30px + (60 - 30) * ((100vw - 320px) / (1200 - 320)));
        padding-bottom: calc(30px + (60 - 30) * ((100vw - 320px) / (1200 - 320)));
        font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1200 - 320)));
        
}
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        @media(max-width: 689px){
        flex-wrap: wrap;
        gap: 16px;
        }
    }

    &__link {
        color: inherit;
        font-size: inherit;
    text-decoration: underline;
    font-weight: 700;
    }
}
.container {
}
