.pay {
    text-align: center;
    padding: 80px 0;
    @media (max-width: 1199px) {
        padding-top: calc(30px + (80 - 30) * ((100vw - 320px) / (1200 - 320)));
        padding-bottom: calc(30px + (80 - 30) * ((100vw - 320px) / (1200 - 320)));
    }

    &__container {
    }

    &__block {
        margin-top: 80px;
        display: flex;
        align-items: center;
        @media (max-width: 1199px) {
            margin-top: calc(30px + (80 - 30) * ((100vw - 320px) / (1200 - 320)));
            gap: 10px;
        }
    }

    &__card {
        flex: 0 1 33%;
        display: flex;
        align-items: center;
        font-size: 20px;
        @media (max-width: 1199px) {
            font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
        @media (max-width: 849px) {
            flex-direction: column;
        }
        
    }
    &__img {
        height: 70px;
        max-width: 70px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        @media (max-width: 849px) {
            margin: 0px 0px 20px 0px;
        }
        img {
            max-width: 100%;
            vertical-align: middle;
        }
    }
}
