.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 6;
    display: none;

    &__overlay {
display: flex;
justify-content: center;
    }

    &__content {
        position: absolute;
        top: 15%;
        min-width: 400px;
        min-height: 420px;
        background-color: #fff;
    }
    &__close{
        position: absolute;
color: #fff;
        font-size: 44px;
        right: -40px;
        top: -15px;
    }
    
}
.popup .form-promo__btn{
    margin-top: 35px;
}